.itemPic {
  width: 100%;
  /* max-height: 50vh; */
  object-fit: cover;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.itemHeader{
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  justify-content: space-between;
}
.itemInfoContainer{
  padding: 3vw;
}
.itemInfo{
 display:flex;
 justify-content: space-between;
 padding: vw;
}
.itemTitles{
display: flex;
flex-direction: column;
}
.itemExtLink {
  padding: 3vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

.itemDesc {
  padding: 3vw;
  text-align: justify;
  /* display: none; */
}

.dealer {
  font-weight: 400;
}


.dealer:hover {

  text-decoration: underline;
   cursor: pointer;
   ;}
   
   .itemValidation {
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw;
  width: 100%;
}

.h2{
  /* border: solid 1px green; */
  font-weight: 700;
  font-size:1.75rem;
}
.h3{
  font-weight: 500;
  margin-bottom: 1vh
}
/* RESPONSIVE TABLETS AND LARGER */
@media screen and (min-width: 481px) {
  .itemPic{
    width: 45vw;
    height: 45vw;
    padding: 3vw;
    border-radius: 3rem;
    min-height: 250px;
    max-width: 412px;
    max-height: 412px;

  }
  .itemHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  }
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 480px) {
  .itemPic{

    min-height: 300px;

  }
}