.itemsContainer{
  width: 100%;
  /* border: solid 1px green; */
padding: 0 3vw;
display: flex;
justify-content: space-between;
align-items:flex-start;
flex-wrap: wrap;
margin: 8px 0
}

.indexContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  color: black;
  border: solid 1px black;
}

.registryTitle{
  margin: 3vh 3vh 0 3vh;
  font-size: 2rem;
  font-family: Poppins, Parisienne, sans-serif;
  font-weight: 600
  ;
}